body{
    padding-top: 0px !important;
}
.navbar{
    height: 50px;
    padding: 0px !important;
}
.navbar-brand{
    height: 100% !important;
    width: auto;
}
.logo{
    margin-top: 8% !important;
    margin-bottom: 8%  !important;
    width:50px;
    margin-left:20px;
    margin-right:20px
}